/* ESTILOS GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inspire", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* font-family: "Poppins", sans-serif; */
}

a {
    color: #fff;
}

body {
    background-color: #000;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px; 

}

::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}


:root {
    --primary-color: #1976D2;
    --secondary-color: #fff;
    --terciary-color: #000;
    --quaternary-color: #0d111d;
    --quinary-color: #090c15;
}


